<br />
<h1 class="text-center title"><%= current_game.name %></h1>


<br />
<table class="chess_table">
  <% 7.downto(0).each do |row_number| %>
    <tr>
      <% 0.upto(7).each do |column_number| %>
        <td class="<%= (row_number + column_number).even? ? "black_space" : "white_space"%>">
          <% piece = current_game.pieces.find_by(x_position: column_number, y_position: row_number) %>
          <% if piece %>
            <%= link_to game_piece_path(current_game, piece) do %>
              <p class='piece'><%= piece.to_unicode %></p>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<br />
<%= link_to 'Forfiet', forfeit_game_path, data: {confirm: 'Are you sure you want to forfeit the game?'}, 
class: 'btn btn-danger', method: :PUT %>
<br />


<script>
$(document).ready(function () {
<% if @game.result == "Forfeit"%>
    $('#myModal').modal('show');
<% end %>
});
</script>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Game Over!</h4>
      </div>
      <div class="modal-body">
        Game Status: <%= @game.result %>
        </br>
        <% if @game.winner_id == 0 %>
          Winner: <strong>"TIED GAME!"</strong>
        <% else %>
          Winner: <strong><%= @game.winner_id %></strong>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= link_to 'Home', root_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>