<br />
<div class='frosty col-10 offset-1'>
  <h1 class="text-center"><%= current_game.name %></h1>
  <br />
  <table class="chess_table">
    <% 7.downto(0).each do |row_number| %>
      <tr>
        <% 0.upto(7).each do |column_number| %>
          <td class="<%= (row_number + column_number).even? ? "black_space" : "white_space"%>">
            <% piece = current_game.pieces.find_by(x_position: column_number, y_position: row_number) %>
            <% if piece %>
              <%= link_to game_piece_path(current_game, piece) do %>
                <p class='piece'><%= piece.to_unicode %></p>
              <% end %>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  </table>
<br />
<br />
</div>
<table>
  <tr>
    <th>Avatar</th>
    <th>Email</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= image_tag user.gravatar_url %></td>
      <td><% user.email %></td>
    </tr>
  <% end %>
</table>