<!DOCTYPE html>
<html>
  <head>
    <title>Goldenmarshmallow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="https://i.imgur.com/cGuUonb.png">
  </head>

  <body>
    <div id="flex-content-container">
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
          <%= link_to root_path do %>
            <%= image_tag "golden-icon-medium.png", class: 'brand-img' %>
            <p class='navbar-brand'>GoldenMarshmallow</p>
          <% end %>
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
              <%= link_to new_game_path, class: 'nav-link' do %>
                <i class="fa fa-plus-circle"></i>
                New Game
              <% end %>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
              </li>
            <%end%>
          </ul>
        </div>
      </nav>

        <% if notice.present? %>
          <p class="alertalert-info"><%= notice%></p>
        <% end %>
        <% if alert.present? %>
          <p class="alert alert-danger"><%= alert%></p>
        <% end %>

      <%= yield %>
    </div>

    <div id="footer">
      <div class="container">
        <div class='row'>
          <div class='col-12 col-sm-4'>
            <b>Players</b>
            <br />
            <%= link_to 'Game List', games_path %>
            <br />
          </div>
          <div class='col-12 col-sm-4'>
            <b>About</b>
            <br />
            <%= link_to 'Team', team_path %>
            <br />
            <%= link_to 'Careers', '#' %>
            <br />
            <%= link_to 'Privacy Policy', '#' %>
          </div>
          <div class='col-12 col-sm-4 social'>
            <b>Social</b>
            <br />
            <br />
              <%= link_to 'https://github.com/goldenmarshmallow/goldenmarshmallow' do %>
                <span class='fa fa-github-square fa-2x social-button'></span>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
